.flat {
  height: 230px;
  width: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: #f7f7f7;
  position: relative;
 }

.flat:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.flat-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.flat-price {
  position: absolute;
  background-color: red;
  color: #f7f7f7;
  font-weight: bolder;
  text-shadow: none;
  border-radius: 3px;
  padding: 5px;
  top: 10px;
  right: 10px;
  font-size: 15px;
}

.flat-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.flat-description h2 {
  font-size: 20px;
}

.flat-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.flat-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.flat-link:hover {
  opacity: 0.05;
}
