@import "./components/flat";

body {
  background-color: white;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
}

#root > div {
  margin-top: 20px;
  display: flex;
}

.left-scene {
  padding-left: 10px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .flat-list {
    column-count: 2;
    column-gap: 10px;
    padding: 5px;
    .flat {
    margin-bottom: 10px;
    }
  }
}

.right-scene {
  height: 80%;
  width: 40%;
  margin-right: 20px;
  margin-bottom: 20px;
  position: sticky !important;
  top: 0 !important;
}

.marker {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
}
